# This workflow will build a Java project with Maven
# For more information see: https://help.github.com/actions/language-and-framework-guides/building-and-testing-java-with-maven

name: Build App and Slack Connection

on:
  push:
    branches: [ master,test,stage ]
  pull_request:
    branches: [ master,test,stage ]
jobs:
  build:
    name : Build Project
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Java Setup
      uses: actions/setup-java@v1
      with:
        java-version: 1.11
        architecture: x64
    - name: Build with Maven
      run: |
        echo $GOOGLE_APP_CREDENTIALS > ./google/google-credentials.json
        mvn -B package --file pom.xml
      env:
        GOOGLE_APP_CREDENTIALS: ${{ secrets.GOOGLE_APP_CREDENTIALS }}
      shell: bash
  slack:
    needs: build
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    # Current time for persitent
    - name: Get current date
      id: date
      run: echo "::set-output name=date::$(date +'%Y-%m-%d')"
    # this is for slack channel connectivity
    - name: Notify slack
      env:
        SLACK_BOT_TOKEN: ${{ secrets.BOT_TOKEN_KEY }} 
        #run: echo "$CurrentValue and $NameOfApplication $GIT_ACTOR"
      uses: pullreminders/slack-action@master
      with:
        args: '{\"channel\":\"CT39SRCN7\",\"text\":\"PULL/PUSH ON : REPO - ${{github.repository}} BY ${{github.actor}} AT ${{steps.date.outputs.date}}\"}'
      
      
